header{
    background-color: aqua;
    text-align: center;
    font-size: bold;
    top: 0%;
    padding: 10px;
    position: fixed;
    width: 100vw;
    z-index: +1;
}
main{
    z-index: -1;
}
.v1{
    position: absolute;
    left: 75%;
    top: 10%;
 }

.v2{
    position: absolute;
    top: 10%;
   
}

.v3{
    position: absolute;
    left: 75%;
    top: 40%;
}

.v4{
    position: absolute;
    top: 40%;
    
}

.v5{
    position: absolute;
    left: 35%;
    top: 50%;
    border: 2px solid black;
    border-radius: 10px;
    
}

.v6{
    position: absolute;
    left: 75%;
    top: 70%;
   
}

.v7{
    position: absolute;
    top: 70%;
    
}

.v8{
    position: absolute;
    left: 74%;
    top: 100%;
}

.v9{
    position: absolute;
    top: 100%;
}